/*
    General styles
*/

* {
	font-family: $font-regular, sans-serif;
}

html,
body {
	width: 100%;
}

html,
body,
p,
h1,
h2 {
	padding: 0;
	margin: 0;
}

p,
input,
label {
	font-size: 13pt;
}

button,
input {
	border: none;
}

a {
	text-decoration: none;
}
