/*
    Login styles
*/

.login {
	width: 100%;
	height: 100vh;
	background: white;
	overflow: auto;

	// Navbar
	&__nav {
		width: calc(100% - 40px);
		padding: 20px 20px 0 20px;
		@include screen-md-x {
			@include flexcol(center);
		}
		.logo {
			width: 157px;
			height: 59px;
		}
	}

	// Body
	&__body {
		@include flexrow(center, center);
		width: 100%;
		height: calc(100vh - 83px);
	}

	// Illustration
	&__illustration {
		@include flexcol(center, center);
		width: 30%;
		@include screen-lg-x {
			width: 50%;
		}
		@include screen-md-x {
			display: none;
		}
		.image {
			width: calc(100% - 40px);
		}
	}

	// Login content
	&__content {
		@include flexcol(flex-start);
		width: 800px;
		margin: 0 0 0 20px;
		@include screen-lg-x {
			width: calc(50% - 100px);
		}
		@include screen-md-x {
			width: 90%;
			margin: 0;
		}
		.title {
			width: 100%;
			color: $color-text;
			font-size: 50px;
			font-family: $font-bold;
			@include screen-md-x {
				font-size: 30px;
			}
			@include screen-sm-x {
				font-size: 18px;
			}
		}
		.label {
			width: 100%;
			font-size: 16px;
			padding: 20px 0 10px 0;
			color: $color-text;
			font-weight: bold;
			@include screen-md-x {
				padding: 10px 0 5px;
			}
		}
		.name {
			color: $color-primary;
		}
		.form {
			@include flexcol(center);
			width: 100%;
		}
		.toggle-image {
			width: 30px;
			transition: all 0.2s ease-out;
			pointer-events: none;
		}
		.toggle-password {
			opacity: 0;
			position: absolute;
			top: 7px;
			right: 10px;
			transition: all 0.2s ease-out;
			&:hover {
				top: 2px;
				right: 5px;
				.toggle-image {
					width: 40px;
				}
			}
			&:active {
				top: 12px;
				right: 15px;
				.toggle-image {
					width: 20px;
				}
			}
		}
		.inputbox {
			width: 100%;
			height: 43px;
			background: white;
			margin: 15px 0 15px 0;
			position: relative;
			@include screen-md-x {
				margin: 10px 0 10px 0;
			}
			&:hover {
				.toggle-password {
					opacity: 1;
				}
			}
		}
		.input {
			width: calc(100% - 40px);
			height: calc(100% - 10px);
			border-radius: 5px;
			box-shadow: 0px 0px 1px black;
			transition: all 0.2s ease-out;
			color: rgb(100, 100, 100);
			padding: 5px 20px 5px 20px;
			&:hover {
				box-shadow: 0px 0px 10px rgb(200, 200, 200);
			}
			&:active {
				box-shadow: 0px 0px 3px rgb(109, 83, 83);
			}
		}
		.error {
			display: block;
			color: red;
			font-size: 11pt;
			padding: 5px 0 0 0;
		}
		.forgot-password {
			width: 100%;
			text-align: center;
			padding: 20px 0 10px 0;
			color: $color-text;
			font-weight: bold;
			font-size: 12px;
			transition: all 0.2s ease-out;
			@include screen-md-x {
				padding: 10px 0 5px 0;
			}
			&:hover {
				color: $color-primary;
			}
			&:active {
				color: black;
			}
		}
		.button {
			width: 124px;
			height: 50px;
			font-size: 14px;
			background: $color-primary;
			color: white;
			transition: all 0.2s ease-out;
			margin: 40px 0 20px 0;
			font-weight: bold;
			border-radius: 5px;
			cursor: pointer;
			@include screen-md-x {
				margin: 20px 0 10px;
			}
			&:hover {
				background: lighten($color-primary, 15%);
			}
			&:active {
				background: darken($color-primary, 15%);
			}
			&--disabled {
				pointer-events: none;
			}
		}
		.issue {
			color: rgba(33, 33, 33, 0.6);
			font-size: 12px;
			font-weight: bold;
		}
		.contact {
			color: $color-primary;
			text-decoration: underline;
			transition: all 0.2s ease-out;
			&:hover {
				color: lighten($color-primary, 15%);
			}
			&:active {
				color: darken($color-primary, 15%);
			}
		}
	}

	&__footer {
		width: 100%;
		padding: 0 0 20px 0;
		position: fixed;
		bottom: 0;
		left: 0;
		.text {
			text-align: center;
			font-size: 12px;
			color: #212121;
		}
	}
}
